@import "../abstract/variaveis";

#flor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8rem;
    .texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 2rem;
        border-left: 4px solid $cor-terciaria;
        padding-left: 2rem;
        h3{
            font-size: $tamanho-do-texto / 2.5;
            color: $cor-secundaria;
            border-bottom: 2px solid $cor-terciaria;
            width: 180px;
            font-weight: 300;
        }
        h4{
            font-size: $tamanho-do-texto / 1.5;
            font-weight: 300;
            margin: 2rem 0;
        }
        p{
            font-size: $tamanho-do-texto / 3;
            font-weight: 300;
            line-height: 1.5rem;
        }
    }
}